<div class="row">
   <div class="col-6">
      <div class="input-group mb-3 campo-pesquisa" >
          <div class="input-group mb-3 ">
              <input type="text" class="form-control " #campoinput placeholder="Digite o Nome do especialidade">
              <div class="input-group-append">
                  <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
              </div>
            </div>
        </div>
   </div>
<div class="col-4">
<button (click)="open()"  class="btn btn-outline-primary btn-sm">Adicionar Especialidade</button>
</div>
</div>
<div [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" infiniteScroll [scrollWindow]="false"
class="tabela-lista">
<table
class="table table-hover">
<thead>
<tr>
  <th>Nome</th>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor='let especialidade of especialidades'>
  <td>{{especialidade.nome}}</td>
  <td>
    <div class="row">
    <div class="col-lg-3"><button class="btn btn-primary" (click)="AbrirEditar(especialidade)">Editar</button></div>
    <div class="col-lg-3 offset-md-2"><button class="btn btn-danger">Excluir</button></div>
    </div>
  </td>
  <td></td>
  <th></th>
</tr>
</tbody>
</table>
</div>
