<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Especialidade</h4>
  <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="especialidadeeditarform"  (ngSubmit)="onSubmit(especialidadeeditarform)">
<div class="modal-body">
      <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" name="nome"  formControlName="nome" class="form-control">
        </div>
        <div *ngIf="especialidadeeditarform.controls['nome'].errors && especialidadeeditarform.controls['nome'].touched">
          <p [hidden]="!especialidadeeditar.controls['nome'].errors.required" class="alert alert-danger"> Nome é obrigatório</p>
      </div>
      <input type="hidden" name="id" formControlName="id">

</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary">Atualizar</button>
</div>
</form>
