
<form class="form-inline" (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <button type="button" class="btn btn-primary mb-2" routerLink="../">Voltar</button>
    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <select class="form-control mb-2 mr-sm-2" name="anoselecionado" [(ngModel)]="anoselecionado">
        <option *ngFor="let ano of anos" [value]="ano"> {{ ano }}</option>
        </select>
    <button type="submit" class="btn btn-primary mb-2">Gerar</button>
  </form>
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="row">
    <div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button (click)="randomize()">CLICK</button>
    </div>
    </div>
  </div>
