<div class="modal-header">
    <h4 class="modal-title">Editar Funcionário</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <form [formGroup]="funcionarioeditarform" (ngSubmit)="onSubmit(funcionarioeditarform)">
        <input type="hidden" name="id" formControlName="id">
        <div class="modal-body ">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" name="nome"  formControlName="nome" class="form-control">
            </div>
            <div *ngIf="funcionarioeditarform.controls['nome'].errors && funcionarioeditarform.controls['nome'].touched">
              <p [hidden]="!funcionariocadastroform.controls['nome'].errors.required" class="alert alert-danger"> Email é obrigatório</p>
          </div>
            <div class="form-group">
              <label for="endereco">Endereço:</label>
              <input type="text" name="endereco"  formControlName="endereco" class="form-control">
            </div>
            <div *ngIf="funcionarioeditarform.controls['endereco'].errors && funcionarioeditarform.controls['endereco'].touched">
              <p [hidden]="!funcionarioeditarform.controls['endereco'].errors.required" class="alert alert-danger"> Endereço é obrigatório</p>
          </div>
          <div class="row">
          <div class="col-6">
          <label>Data de Nascimento</label>
          <div class="input-group">
            <input class="form-control" placeholder="Clique no botão para Selecionar a Data"
                   name="dp"  formControlName="datanascimento"  ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
                <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
          <div *ngIf="funcionarioeditarform.controls['datanascimento'].errors && funcionarioeditarform.controls['datanascimento'].touched">
              <p [hidden]="!funcionarioeditarform.controls['datanascimento'].errors.required" class="alert alert-danger">Data de Nascimento é obrigatório</p>
          </div>
         </div>
         <div class="col-6">
            <div class="form-group">
                <label for="matricula">Matricula:</label>
                <input type="text" name="matricula"  formControlName="matricula" class="form-control">
              </div>
              <div *ngIf="funcionarioeditarform.controls['matricula'].errors && funcionarioeditarform.controls['matricula'].touched">
                  <p [hidden]="!funcionarioeditarform.controls['matricula'].errors.required" class="alert alert-danger"> Matricula é obrigatória</p>
              </div>
         </div>
          </div>
          <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Sexo</label>
                    <select formControlName="sexo" class="form-control" id="exampleFormControlSelect1">
                      <option value="masculino">Masculino</option>
                      <option value="feminino">Feminino</option>
                    </select>
                  </div>
                    </div>
                      <div class="col-6">
                          <label for="email">Email</label>
          <div class="input-group">
           <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  type="text" class="form-control" name="email" formControlName="email" #email placeholder="Email">
           </div>
          <div *ngIf="funcionarioeditarform.controls['email'].errors && funcionarioeditarform.controls['email'].touched">
          <p [hidden]="!funcionarioeditarform.controls['email'].errors.required" class="alert alert-danger"> Email é obrigatório</p>
          <p [hidden]="!funcionarioeditarform.controls['email'].errors.pattern" class="alert alert-danger"> Digite um email válido</p>
          </div>
        </div>
         </div>
         <div class="row">
           <div class="col-6">
              <label for="password">Senha</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Senha" formControlName="password">
              </div>
              <div *ngIf="funcionarioeditarform.controls['password'].errors && funcionarioeditarform.controls['password'].touched">
                  <p [hidden]="!funcionarioeditarform.controls['password'].errors.required" class="alert alert-danger"> Senha é obrigatório</p>
                  </div>
           </div>
           <div class="col-6">
              <label for="confirmpassword">Confirmar Senha</label>
              <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" [readonly]="funcionarioeditarform.controls['password'].errors" class="form-control" name="confirmpassword" formControlName="confirmpassword" placeholder="Confirmar Senha">
                  </div>
                  <div *ngIf="funcionarioeditarform.controls['confirmpassword'].errors && funcionarioeditarform.controls['confirmpassword'].touched">
                      <p [hidden]="!registeruserForm.controls['confirmpassword'].errors.required" class="alert alert-danger"> Confirmar a Senha é obrigatório</p>
                      <p [hidden]="!registeruserForm.controls['confirmpassword'].errors.invalid" class="alert alert-danger">A campo de confirmação da senha não combina com a senha</p>
                      </div>
                      </div>
           </div>
         </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary btn-cadastrar"  type="submit" [disabled]="!funcionarioeditarform.valid">Atualizar</button>
        </div>
        </form>
  </div>
