<h1>SGO - Sistema de gerenciamento de Óbito</h1>
<div class="login">
<form [formGroup]="loginForm" (ngSubmit)="ngSubmit(loginForm)">
    <div class="form-group row">
        <label for="email">Email</label>
  <div class="col-sm-10">
    <input  type="text" class="form-control" name="email" formControlName="email" #email placeholder="Email">
    <div *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched">
      <p [hidden]="!loginForm.controls['email'].errors.required" class="alert alert-danger"> Email é obrigatório</p>
      <p [hidden]="!loginForm.controls['email'].errors.pattern" class="alert alert-danger"> Digite um email válido</p>
      </div>
  </div>
      </div>
  <div class="form-group row">
      <label for="password">Senha</label>
    <div class="col-sm-10">
    <input type="password" class="form-control" name="password" placeholder="Senha" formControlName="password">
    <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched">
        <p [hidden]="!loginForm.controls['password'].errors.required" class="alert alert-danger"> Senha é obrigatório</p>
        </div>
  </div>
  </div>

<div class="row btn-login">
                <div class="md-6 offset-md-10">
                        <button [disabled]="!loginForm.valid"  class="btn btn-success " type="submit">Entrar</button>
                </div>
              </div>
</form>
<footer>
  <div class="jumbotron">
    <div class="container">
      <p class="lead">Desenvolvido por Igor Matheus <a href="mailto:igor.memories@gmail.com">email: igor.memories@gmail.com</a></p>
    </div>
  </div>
</footer>
</div>
