input.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  .btn-login {
    margin-top: 10px;
    margin-left: 65px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
