
<h1>Cadastro</h1>

<form [formGroup]="registeruserForm" (ngSubmit)="ngSubmit(registeruserForm)">
    <div class="container">
        <label for="email">Email</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  type="text" class="form-control" name="email" formControlName="email" #email placeholder="Email">
  </div>
  <div *ngIf="registeruserForm.controls['email'].errors && registeruserForm.controls['email'].touched">
      <p [hidden]="!registeruserForm.controls['email'].errors.required" class="alert alert-danger"> Email é obrigatório</p>
      <p [hidden]="!registeruserForm.controls['email'].errors.pattern" class="alert alert-danger"> Digite um email válido</p>
      </div>
  <label for="password">Senha</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" class="form-control" name="password" placeholder="Senha" formControlName="password">
  </div>
  <div *ngIf="registeruserForm.controls['password'].errors && registeruserForm.controls['password'].touched">
      <p [hidden]="!registeruserForm.controls['password'].errors.required" class="alert alert-danger"> Senha é obrigatório</p>
      </div>
      <label for="sel1">Select list (select one):</label>

  <label for="confirmpassword">Confirmar Senha</label>
  <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" [readonly]="registeruserForm.controls['password'].errors" class="form-control" name="confirmpassword" formControlName="confirmpassword" placeholder="Confirmar Senha">
      </div>
      <div *ngIf="registeruserForm.controls['confirmpassword'].errors && registeruserForm.controls['confirmpassword'].touched">
          <p [hidden]="!registeruserForm.controls['confirmpassword'].errors.required" class="alert alert-danger"> Confirmar a Senha é obrigatório</p>
          <p [hidden]="!registeruserForm.controls['confirmpassword'].errors.invalid" class="alert alert-danger">A campo de confirmação da senha não combina com a senha</p>
          </div>


         <div class="row">
                <div class="col-md-offset-11col-md-offset-11">
                        <button [disabled]="!registeruserForm.valid"  class="btn btn-success btn-cadastrar" type="submit">Cadastrar</button>
                </div>
          </div>
        </div>
</form>
