<br>
<div class="container">
<div class="row">
<div class="input-group mb-3 ">
    <input type="text" class="form-control"   #campoinput placeholder="Digite o Nome do médico">
    <div class="input-group-append">
        <button  class="btn btn-outline-primary btn-sm" type="button" (click)="Pesquisar()"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
    </div>
  </div>
</div>
</div>
<div class="tabela-lista" infiniteScroll
[infiniteScrollDistance]="2" [infiniteScrollThrottle]="700" (scrolled)="onScroll()" [scrollWindow]="false">
<table class="table table-hover ">
<thead>
<tr>
  <th>Nome</th>
  <th>Sexo</th>
  <th>Data Nascimento</th>
  <th>CRM</th>
  <th>Especialidade</th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor='let medico of medicos'>
  <td>{{medico.nome}}</td>
  <td>{{medico.sexo ? 'Masculino' : 'Feminino' }}</td>
  <td>{{medico.dataNascimento | date: 'dd/MM/yyyy'}}</td>
  <td>{{medico.crm}}</td>
  <td>{{medico.especialidade?.nome}}</td>
  <td>
    <div class="row">
    <div class="col-lg-3 offset-md-2"><button class="btn btn-primary" type="button" (click)="SelecionarMedico(medico)" >Selecionar</button></div>
    </div>
  </td>
  <td></td>
  <th></th>
</tr>
</tbody>
</table>
</div>
