<form class="form-inline" (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <button type="button" class="btn btn-primary mb-2" routerLink="../">Voltar</button>
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <select class="form-control mb-2 mr-sm-2" name="sexo" [(ngModel)]="sexo">
    <option value="true">Masculino</option>
    <option value="false">Feminino</option>
      </select>
  <button type="submit" class="btn btn-primary mb-2">Gerar</button>
</form>
<div style="display: block">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
