
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalhes Óbito</h4>
    <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
      <dl class="dl-horizontal">
          <dt>
              Numeração:
                  </dt>
          <dd>
              {{  obitodetalhes.numeracao }}
          </dd>

          <dt>
              Nome Médico:
          </dt>

          <dd>
              {{ obitodetalhes.medico.nome }}
          </dd>
          <dt>
              Nº Caixa
          </dt>
          <dd>
              {{ obitodetalhes.numeroCaixa }}
          </dd>
          <dt>
              Número da Ordem:
          </dt>
          <dd>
            {{obitodetalhes.numeroOrdem}}
          </dd>
          <dt>
              Data Nascimento do Paciente:
          </dt>
          <dd>
              {{ obitodetalhes.paciente.dataNascimento | date: 'dd/MM/yyyy' }}
          </dd>
          <dt>
              Clinica:
            </dt>

          <dd>
              {{ obitodetalhes.clinica.nome }}
          </dd>
          <dt>
              Causa:
          </dt>
          <dd>
              {{ obitodetalhes.causa.nome }}
          </dd>
      </dl>
    </div>
    <div class="col-4">
        <dl class="dl-horizontal">
          <dt>
            Data de Falecimento
          </dt>
          <dd>
            {{obitodetalhes.dataFalecimento | date: 'dd/MM/yyyy'}}
          </dd>
            <dt>
                Endereço:
                    </dt>
            <dd>
                {{  obitodetalhes.paciente.endereco }}
            </dd>
            <dt>
                Sexo:
                    </dt>
            <dd>
                {{  obitodetalhes.paciente.sexo ? 'Masculino': 'Feminino' }}
            </dd>

            </dl>
    </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
