
<div class="row">
        <div class="col-2">
            <select #parametropesquisa (change)="MudarParametroPesquisa($event)" class="form-control" id="exampleFormControlSelect1">
                <option value="nome">Nome</option>
                <option value="matricula">Matrícula</option>
                <option value="endereco">Endereço</option>
                <option value="email">Email</option>
                <option value="datanascimento">Data Nascimento</option>
              </select>

         </div>
         <div class="col-6">
            <div [hidden]="showDateInput" class="input-group mb-3 campo-pesquisa" >
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control " #campoinput placeholder="Digite o Nome do funcionário">
                    <div class="input-group-append">
                        <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
                    </div>
                  </div>
              </div>
              <div [hidden]="!showDateInput" class="input-group mb-3 campo-pesquisa">
                <input #campoinputdatanascimento class="form-control"  placeholder="Clique no botão para selecionar a data"
                       name="dp"   ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
                    <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button>
                  <div class="input-group-append">
                      <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm">
                          <img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                  </div>
                </div>
              </div>
         </div>
  <div class="col-4">
<button (click)="open()"  class="btn btn-outline-primary btn-sm">Adicionar Funcionário</button>
<button class="btn btn-outline-primary btn-sm">Meu Perfil</button>
  </div>
  </div>
  <div class="tabela-lista container-fluid" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Matricula</th>
        <th>Email</th>
        <th>Sexo</th>
        <th>Endereço</th>
        <th>Data de Nascimento</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let usuario of usuarios'>
        <td>{{usuario.userName}}</td>
        <td>{{usuario.matricula}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.sexo ? 'Masculino':'Feminino'}}</td>
        <td>{{usuario.endereco}}</td>
        <td>{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
        <td>
           <button class="btn btn-primary" (click)="AbrirEditar(usuario)">Editar</button>

        </td>
        <td><button class="btn btn-danger">Excluir</button></td>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
