input.ng-touched.ng-invalid {
  border: 1px solid red;
}
.btn-cadastrar {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
}
.campo-pesquisar {
  width: 500px;
}

@media screen {
  .modal-adaptive .modal-lg {
      width: 90% !important;
      max-width: calc(80%);
  }
}
