
<form class="form-inline" (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <button type="button" class="btn btn-primary mb-2" routerLink="../">Voltar</button>
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <select class="form-control mb-2 mr-sm-2" name="anoselecionado" [(ngModel)]="anoselecionado">
      <option *ngFor="let ano of anos" [value]="ano"> {{ ano }}</option>
      </select>
  <button type="submit" class="btn btn-primary mb-2">Gerar</button>
</form>
<div style="display: block">
  <canvas baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
