<div class="row">
  <div class="col-2">
      <select #parametropesquisa (change)="MudarParametroPesquisa($event)" class="form-control" id="exampleFormControlSelect1">
          <option value="nome">Nome</option>
          <option value="crm">CRM</option>
          <option value="especialidade">Especialidade</option>
          <option value="datanascimento">Data Nascimento</option>
        </select>
   </div>
   <div class="col-6">
      <div [hidden]="showDateInput" class="input-group mb-3 campo-pesquisa" >
          <div class="input-group mb-3 ">
              <input type="text" class="form-control " #campoinput placeholder="Digite o Nome do médico">
              <div class="input-group-append">
                  <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
              </div>
            </div>
        </div>
        <div [hidden]="!showDateInput" class="input-group mb-3 campo-pesquisa">
          <input #campoinputdatanascimento class="form-control"  placeholder="Clique no botão para selecionar a data"
                 name="dp"   ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
              <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
            <div class="input-group-append">
                <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm">
                    <img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
            </div>
          </div>
        </div>
   </div>
<div class="col-4">
<button (click)="open()"  class="btn btn-outline-primary btn-sm">Adicionar Médico</button>
</div>
</div>
<div [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" infiniteScroll [scrollWindow]="false"
class="tabela-lista">
<table
class="table table-hover">
<thead>
<tr>
  <th>Nome</th>
  <th>Sexo</th>
  <th>Data Nascimento</th>
  <th>CRM</th>
  <th>Especialidade</th>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor='let medico of medicos'>
  <td>{{medico.nome}}</td>
  <td>{{medico.sexo ? 'Masculino' : 'Feminino' }}</td>
  <td>{{medico.dataNascimento | date: 'dd/MM/yyyy'}}</td>
  <td>{{medico.crm}}</td>
  <td>{{medico.especialidade.nome}}</td>
  <td>
    <div class="row">
    <div class="col-lg-3"><button class="btn btn-primary" (click)="AbrirEditar(medico)">Editar</button></div>
    <div class="col-lg-3 offset-md-2"><button class="btn btn-danger">Excluir</button></div>
    </div>
  </td>
  <td></td>
  <th></th>
</tr>
</tbody>
</table>
</div>
