<h1>Escolha a Taxa de Óbito</h1>
<div class="row">
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/1376009.png"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Taxa Meses</h5>
    <p class="card-text">Esse quadro de gráfico mostra a taxa de óbito ao decorrer do meses de um ano</p>
    <a [routerLink]="['./taxa-meses']">Ir ao DashBoard</a>
  </div>
</div>
</div>
<div class="col-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/400px-Cubicpoly.svg.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Taxa Anos</h5>
    <p class="card-text">Esse quadro de gráfico mostra a taxa de óbito ao decorrer do anos e descreve</p>
    <a [routerLink]="['./taxa-anos']">Ir ao DashBoard</a>
  </div>
</div>
</div>
<div class="col-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/images/pie_percent.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Grafico Comparativo de Causa</h5>
      <p class="card-text">Esse quadro de gráfico faz um comparativo de quantidade de óbitos entre várias causas diferentes</p>
      <a [routerLink]="['./taxa-causa']">Ir ao DashBoard</a>
    </div>
</div>
</div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/images/400px-Cubicpoly.svg.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gráfico de Clinica</h5>
        <p class="card-text">Esse quadro de gráfico mostra as causas de óbito mais frequente em cada clinica</p>
        <a [routerLink]="['./taxa-clinica']">Ir ao DashBoard</a>
      </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/images/400px-Cubicpoly.svg.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gráfico de Causas Mais Frequentes</h5>
        <p class="card-text">Esse quadro de gráfico mostra as causas de óbito mais frequente em cada clinica</p>
        <a [routerLink]="['./taxa-causa-frequente']">Ir ao DashBoard</a>
      </div>
  </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/images/400px-Cubicpoly.svg.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gráfico de Causas de Acordo com O gênero dos pacientes</h5>
        <p class="card-text">Esse quadro de gráfico a porcentagem de óbitos de uma alguma causa </p>
        <a [routerLink]="['./taxa-sexo']">Ir ao DashBoard</a>
      </div>
  </div>
  </div>
</div>
