<form class="form-inline" (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <button type="button" class="btn btn-primary mb-2" routerLink="../">Voltar</button>
  <label class="sr-only" for="inlineFormInputName2">Data Inicial</label>
  <select name="anoinicial" class="form-control mb-2 mr-sm-2" [(ngModel)]="anoinicial">
      <option *ngFor="let ano of anos">{{ ano }}</option>
      </select>
      <label class="sr-only" for="inlineFormInputName2">Data Final</label>
      <select name="anofinal" class="form-control mb-2 mr-sm-2" [(ngModel)]="anofinal">
          <option *ngFor="let ano of anos" [value]="ano"> {{ ano }}</option>
          </select>
  <button type="submit" class="btn btn-primary mb-2">Gerar</button>
</form>
<div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
