<div class="row">
  <div class="col-2">
      <select #parametropesquisa (change)="MudarParametroPesquisa($event)" class="form-control" id="exampleFormControlSelect1">
          <option value="nome">Nome</option>
          <option value="descricao">Descrição</option>
        </select>

   </div>
   <div class="col-6">
      <div class="input-group mb-3 campo-pesquisa" >
          <div class="input-group mb-3 ">
              <input type="text" class="form-control " #campoinput placeholder="Digite o Nome do funcionário">
              <div class="input-group-append">
                  <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
              </div>
            </div>
        </div>
   </div>
<div class="col-4 ">
<button (click)="open()"  class="btn btn-outline-primary btn-sm">Adicionar Clinica</button>
</div>
</div>
<div class="tabela-lista" infiniteScroll
[infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" [scrollWindow]="false">
<table class="table table-hover ">
<thead>
<tr>
  <th>Nome</th>
  <th>Descrição</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor='let clinica of clinicas'>
  <td>{{ clinica.nome }}</td>
  <td>{{ clinica.descricao }}</td>
  <td>
    <button class="btn btn-primary" (click)="AbrirEditar(clinica)">Editar</button>
  </td>
  <td><button class="btn btn-danger">Excluir</button></td>
  <th></th>
</tr>
</tbody>
</table>
</div>

