    <nav class="main-menu fixed-bottom">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/obito">
                        <i class="fa fa-hospital-o fa-2x"></i>
                        <span class="nav-text">
                            Óbito
                        </span>
                    </a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/causa">
                      <i class="fa fa-ambulance fa-2x"></i>
                      <span class="nav-text">
                          Causa
                      </span>
                  </a>
              </li>
                <li *ngIf="auth.token.permissao === 'administrator'" routerLinkActive="active">
                    <a  routerLink="/clinica" >
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Clinica
                        </span>
                    </a>
                </li>
                <li class="has-subnav" *ngIf="auth.token.permissao === 'administrator'"  routerLinkActive="active">
                    <a  routerLink="/medico">
                        <i class="fa fa-user-md fa-2x"></i>
                        <span class="nav-text">
                            Medicos
                        </span>
                    </a>
                </li>
                <li class="has-subnav" *ngIf="auth.token.permissao === 'administrator'"  routerLinkActive="active">
                  <a  routerLink="/especialidade">
                      <i class="fa fa-stethoscope fa-2x"></i>
                      <span class="nav-text">
                          Especialidade
                      </span>
                  </a>
              </li>
                <li class="has-subnav" *ngIf="auth.token.permissao === 'administrator'" routerLinkActive="active">
                    <a routerLink="/funcionario">
                      <i class="fa fa-user fa-2x"></i>
                      <span class="nav-text">
                            Funcionário
                        </span>
                    </a>

                </li>
                <li routerLinkActive="active">
                  <a routerLink="/taxa" >
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Taxas e Indíces
                        </span>
                    </a>
                </li>
                <li class="has-subnav" *ngIf="auth.token.permissao === 'administrator'" routerLinkActive="active">
                  <a routerLink="/contato">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <span class="nav-text">
                          Contato
                      </span>
                  </a>

              </li>
            </ul>
            <ul class="logout">
                <li>
                   <a>
                         <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                          {{email}}
                        </span>
                    </a>
                </li>
                <li>
                  <a  (click)="LogOut()">
                    <i class="fa fa-power-off  fa-2x"></i>
                    <span class="nav-text">
                           Sair
                       </span>
                   </a>
               </li>
            </ul>
        </nav>
