
<div class="container">
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Pesquisar Causa</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <br>
          <div class="container">
          <div class="row">
          <div class="input-group mb-3 ">
              <input type="text" class="form-control"   #campoinput placeholder="Digite o Nome da Causa">
              <div class="input-group-append">
                  <button  class="btn btn-outline-primary btn-sm" type="button" (click)="Pesquisar()"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
              </div>
            </div>
          </div>
          </div>
          <div class="tabela-lista" infiniteScroll
          [infiniteScrollDistance]="2" [infiniteScrollThrottle]="700" (scrolled)="onScroll()" [scrollWindow]="false">
          <table class="table table-hover ">
          <thead>
          <tr>
            <th>Nome</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let causa of causas'>
            <td>{{causa.nome}}</td>
            <td>
              <div class="row">
              <div class="col-lg-3 offset-md-2"><button class="btn btn-primary" data-dismiss="modal" type="button" (click)="AdicionarCausa(causa)">Adicionar</button></div>
              </div>
            </td>
            <td></td>
            <th></th>
          </tr>
          </tbody>
          </table>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        </div>

      </div>
    </div>
  </div>
  </div>
