<div class="container">
  <div class="modal fade" id="pacientecadastro" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title">
            <ul class="nav nav-pills">
              <li class="active"><a href="#">Informações do paciente</a></li>
              <li><a href="#">Selecionar a Internação</a></li>
            </ul>
          </div>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>