<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastro Clinica</h4>
    <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="clinicaeditarform"  (ngSubmit)="onSubmit(clinicaeditarform)">
  <div class="modal-body">
        <div class="form-group">
            <input type="hidden" formControlName="id">
            <label for="nome">Nome da Clínica</label>
            <input type="text" name="nome"  formControlName="nome" class="form-control">
          </div>
          <div *ngIf="clinicaeditarform.controls['nome'].errors && clinicaeditarform.controls['nome'].touched">
            <p [hidden]="!clinicaeditarform.controls['nome'].errors.required" class="alert alert-danger"> Nome é obrigatório</p>
        </div>
          <div class="form-group">
            <label for="descricao">Descrição da Clínica</label>
            <textarea type="text" name="descricao"  formControlName="descricao" class="form-control"></textarea>
          </div>
          <div *ngIf="clinicaeditarform.controls['descricao'].errors && clinicaeditarform.controls['descricao'].touched">
              <p [hidden]="!clinicaeditarform.controls['descricao'].errors.required" class="alert alert-danger"> Descrição é obrigatório</p>
          </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">Atualizar</button>
  </div>
  </form>
