<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cadastro Médico</h4>
  <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ngb-tabset  #t="ngbTabset">
    <ngb-tab id="tab-cadastro" title="Cadastrar">
      <ng-template ngbTabContent>
<form [formGroup]="medicocadastroform"  (ngSubmit)="onSubmit(medicocadastroform)">
<div class="modal-body">
      <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" name="nome"  formControlName="nome" class="form-control">
        </div>
        <div *ngIf="medicocadastroform.controls['nome'].errors && medicocadastroform.controls['nome'].touched">
          <p [hidden]="!medicocadastroform.controls['nome'].errors.required" class="alert alert-danger"> Nome é obrigatório</p>
      </div>
        <div class="form-group">
          <label for="crm">CRM:</label>
          <input type="text" name="crm"  formControlName="crm" class="form-control">
        </div>
        <div *ngIf="medicocadastroform.controls['crm'].errors && medicocadastroform.controls['crm'].touched">
            <p [hidden]="!medicocadastroform.controls['crm'].errors.required" class="alert alert-danger"> Endereço é obrigatório</p>
        </div>
        <div class="row">
            <div class="col-6">
            <label>Data de Nascimento</label>
            <div class="input-group">
              <input class="form-control" placeholder="Clique no botão para selecionar a data"
                     name="dp"  formControlName="datanascimento"  ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
                  <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
            <div *ngIf="medicocadastroform.controls['datanascimento'].errors && medicocadastroform.controls['datanascimento'].touched">
                <p [hidden]="!medicocadastroform.controls['datanascimento'].errors.required" class="alert alert-danger">Data de Nascimento é obrigatório</p>
            </div>
           </div>
           <div class="col-6">
                  <input type="hidden" formControlName="especialidadeid">
                <div class="form-group">
                    <label for="">Especialidade</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="especialidadenome" readonly="readonly"  placeholder="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary btn-sm" type="button" (click)="t.select('tab-pesquisar-especialidade')"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
                        </div>
                      </div>
                      <div *ngIf="medicocadastroform.controls['especialidadenome'].errors && medicocadastroform.controls['especialidadenome'].touched">
                          <p [hidden]="!medicocadastroform.controls['especialidadenome'].errors.required" class="alert alert-danger">Selecione uma especialidade na aba pesquisar médico</p>
                      </div>
                </div>
           </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="sexo">Selecione o sexo</label>
                      <select formControlName="sexo" class="form-control" id="sexo">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                      </select>
                    </div>
              </div>
            </div>

</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
</div>
</form>
</ng-template>
</ngb-tab>
<ngb-tab id="tab-pesquisar-especialidade">
    <ng-template ngbTabTitle>
        Pesquisar Especialidade
    </ng-template>
    <ng-template ngbTabContent>
      <app-medico-pesquisa-especialidade (selecionarEspecialidade)="SetEspecialidade($event)"></app-medico-pesquisa-especialidade>
    </ng-template>
    </ngb-tab>
</ngb-tabset>
