  <div class="form-inline">
      <button type="button" class="btn btn-primary mb-2" routerLink="../">Voltar</button>
      <button id="btnadicionarcausa" class="btn btn-primary mb-2" data-toggle="modal" data-target="#myModal">Adicionar Causa</button>
</div>
<div style="display: block">
  <canvas baseChart
          [colors]="chartColors"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
<app-taxa-pesquisa-causa (causaadicionada)="AdicionarCausa($event)"></app-taxa-pesquisa-causa>
