<div class="row">
  <div class="col-2">
      <select #parametropesquisa (change)="MudarParametroPesquisa($event)" class="form-control" id="exampleFormControlSelect1">
          <option value="pacientenome">Nome Paciente</option>
          <option value="sexo">Sexo</option>
          <option value="datanascimento">Data de Nascimento</option>
          <option value="datafalecimento">Data de Falecimento</option>
          <option value="numeroregistro">Número Registro</option>
          <option value="clinicanome">Nome Clínica</option>
          <option value="mediconome">Nome Médico</option>
          <option value="numerocaixa">Número Caixa</option>
          <option value="numeroordem">Número de Ordem</option>
          <option value="numeracao">Numeração</option>
        </select>
   </div>
   <div class="col-6">
      <div *ngIf="mostrarcampo === 'outro'" class="input-group mb-3 campo-pesquisa" >
          <div class="input-group mb-3 ">
              <input type="text" class="form-control " #campoinput placeholder="Digite o Nome do Paciente">
              <div class="input-group-append">
                  <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
              </div>
            </div>
        </div>
        <div *ngIf="mostrarcampo === 'select'" class="input-group mb-3 campo-pesquisa" >
          <div class="input-group mb-3 ">
                 <select  #camposelect class="form-control" id="sexo">
                              <option selected="selected" value="masculino">Masculino</option>
                              <option value="feminino">Feminino</option>
                            </select>
              <div class="input-group-append">
                  <button (click)="Pesquisar()" class="btn btn-outline-primary btn-sm"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
              </div>
            </div>
        </div>
        <div *ngIf="mostrarcampo === 'data'" class="input-group mb-3 campo-pesquisa">
          <input #campoinputdata class="form-control"  placeholder="Clique no botão para selecionar a data"
                 name="dp"   ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
              <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
            <div class="input-group-append">
                <button (click)="Pesquisar()" class="btn btn-outline-success btn-sm">
                    <img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
            </div>
          </div>
        </div>
   </div>
<div class="col-4">
<button (click)="open()"  class="btn btn-outline-primary btn-sl">Registrar Óbito</button>
</div>
</div>
<div class="tabela-lista" infiniteScroll
[infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" [scrollWindow]="false" (scrolled)="onScroll()">
<table class="table table-hover ">
<thead>
<tr>
  <th>Número da Ordem</th>
  <th>Numeração</th>
  <th>Causa</th>
  <th>Nome do Paciente</th>
  <th>Número Registro</th>
  <th>Data de Falecimento</th>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor='let obito of obitos'>
  <td>{{ obito.numeroOrdem }}</td>
  <td>{{ obito.numeracao }}</td>
  <td>{{ obito.causa.nome}}</td>
  <td>{{ obito.paciente.nome }}</td>
  <td>{{ obito.paciente.numeroRegistro }}</td>
  <td>{{ obito.dataFalecimento | date: 'dd/MM/yyyy' }}</td>
  <td>
  <button class="btn btn-primary" (click)="AbrirEditar(obito)">Editar</button>
  </td>
  <td>  <button class="btn btn-primary" (click)="AbrirRecurso(obito)">Detalhes</button>
  </td>
</tr>
</tbody>
</table>
</div>
