<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img src="/assets/CEMETRON-CENTRO-DE-MEDICINA-TROPICAL-DE-RONDÔNIA-FOTOS-MARCOS-FREIRE-04-03-2015-1-570x380.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>SGO</h3>
      <p>Sistema que tem como objetivo gerenciar o arquivamento de óbito no hospital CEMETRAN.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/estatisticos.PNG" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Estatística</h3>
      <p style="background-color:blue" >SGO demostra dados gráficos sobre os óbitos</p>
    </div>
  </ng-template>
</ngb-carousel>
