<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cadastro Especialidade</h4>
  <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="especialidadecadastroform"  (ngSubmit)="onSubmit(especialidadecadastroform)">
<div class="modal-body">
      <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" name="nome"  formControlName="nome" class="form-control">
        </div>
        <div *ngIf="especialidadecadastroform.controls['nome'].errors && especialidadecadastroform.controls['nome'].touched">
          <p [hidden]="!especialidadecadastroform.controls['nome'].errors.required" class="alert alert-danger"> Nome é obrigatório</p>
      </div>

</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
</div>
</form>
