<app-header *ngIf="auth.Authenticated === true"></app-header>
<br>
<div class="content">
<router-outlet></router-outlet>
</div>
<app-loader *ngIf="loaderservice.isLoading" [isLoading]="loaderservice.isLoading">
</app-loader>
