<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Óbito</h4>
  <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <ngb-tabset  #t="ngbTabset">
        <ngb-tab id="tab-cadastro" title="Editar">
          <ng-template ngbTabContent>
              <form [formGroup]="obitoeditarform"  (ngSubmit)="onSubmit(obitoeditarform)">
              <div class="modal-body">
            <br>
              <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="">Nome do Paciente</label>
                      <input type="text" formControlName="nomepaciente" class="form-control">
                      <div *ngIf="obitoeditarform.controls['nomepaciente'].errors && obitoeditarform.controls['nomepaciente'].touched">
                          <p [hidden]="!obitoeditarform.controls['nomepaciente'].errors.required" class="alert alert-danger"> Nome do Paciente é obrigatório</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group">
                          <div class="form-group">
                              <label for="">Número de Registro</label>
                              <input type="text" formControlName="numeroregistro" class="form-control">
                              <div *ngIf="obitoeditarform.controls['numeroregistro'].errors && obitoeditarform.controls['numeroregistro'].touched">
                                  <p [hidden]="!obitoeditarform.controls['numeroregistro'].errors.required" class="alert alert-danger"> Número de obrigatório</p>
                              </div>
                           </div>
                     </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group">
                          <label for="sexo">Selecione o sexo</label>
                          <select formControlName="sexo" class="form-control" id="sexo">
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                          </select>
                        </div>
                  </div>
                </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                      <label for="">Data de Nascimento</label>
                      <div class="input-group">
                          <input class="form-control" formControlName="datanascimento"   placeholder="Clique no botão para selecionar a data"
                                 name="dp"  ngbDatepicker #datanascimento="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" (click)="datanascimento.toggle()" type="button">
                              <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="obitoeditarform.controls['datanascimento'].errors && obitoeditarform.controls['datanascimento'].touched">
                            <p [hidden]="!obitoeditarform.controls['datanascimento'].errors.required" class="alert alert-danger"> Data de nascimento é obrigatório</p>
                        </div>
                        </div>
                  </div>
                  <div class="col-3">
                      <label for="">Numeração</label>
                      <input type="text" formControlName="numeracao" class="form-control">
                      <div *ngIf="obitoeditarform.controls['numeracao'].errors && obitoeditarform.controls['numeracao'].touched">
                          <p [hidden]="!obitoeditarform.controls['numeracao'].errors.required" class="alert alert-danger"> Numeração é obrigatório</p>
                      </div>
                    </div>
              <div class="col-3">
                  <div class="form-group">
                      <label for="">Número Caixa</label>
                      <input type="text" formControlName="numerocaixa" class="form-control">
                      <div *ngIf="obitoeditarform.controls['numerocaixa'].errors && obitoeditarform.controls['numerocaixa'].touched">
                          <p [hidden]="!obitoeditarform.controls['numerocaixa'].errors.required" class="alert alert-danger"> Numeração é obrigatório</p>
                      </div>
                    </div>
              </div>
              <div class="col-3">
                  <input type="hidden" formControlName="medicoid">
                <div class="form-group">
                    <label for="">Medico</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="mediconome" readonly="readonly"  placeholder="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary btn-sm" type="button" (click)="t.select('tab-pesquisar-medico')"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
                        </div>
                      </div>
                      <div *ngIf="obitoeditarform.controls['mediconome'].errors && obitoeditarform.controls['mediconome'].touched">
                          <p [hidden]="!obitoeditarform.controls['mediconome'].errors.required" class="alert alert-danger">Selecione um médico na aba pesquisar médico</p>
                      </div>
                </div>
                </div>
            </div>
            <div class="row">
              <div class="col-3">
                  <input type="hidden">
                  <div class="form-group">
                      <label for="">Clínica</label>
                      <div class="input-group">
                          <input type="hidden" formControlName="clinicaid">
                          <input type="text" class="form-control" formControlName="clinicanome" readonly="readonly"  placeholder="">
                          <div class="input-group-append">
                              <button class="btn btn-outline-primary btn-sm" type="button" (click)="t.select('tab-pesquisar-clinica')"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
                          </div>
                        </div>
                        <div *ngIf="obitoeditarform.controls['clinicanome'].errors && obitoeditarform.controls['clinicanome'].touched">
                            <p [hidden]="!obitoeditarform.controls['clinicanome'].errors.required" class="alert alert-danger">Selecione um médico na aba pesquisar médico</p>
                        </div>
                  </div>
              </div>
              <div class="col-3">
                <input type="hidden">
                <div class="form-group">
                    <label for="">Causa Principal</label>
                    <div class="input-group">
                        <input type="hidden" formControlName="causaid">
                        <input type="text" class="form-control" formControlName="causanome" readonly="readonly"  placeholder="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary btn-sm" type="button" (click)="t.select('tab-pesquisar-causa')"><img src="/assets/icons/ic_search_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/></button>
                        </div>
                      </div>
                      <div *ngIf="obitoeditarform.controls['causanome'].errors && obitoeditarform.controls['causanome'].touched">
                          <p [hidden]="!obitoeditarform.controls['causanome'].errors.required" class="alert alert-danger">Selecione uma Causa na aba pesquisar Causa</p>
                      </div>
                </div>
            </div>
              <div class="col-3">
                  <div class="form-group">
                      <label for="">Data e Horário do Falecimento</label>
                      <div class="input-group">
                          <input class="form-control" formControlName="datafalecimento" placeholder="Clique no botão para selecionar a data"
                                 name="dp"  ngbDatepicker #datafalecimento="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" (click)="datafalecimento.toggle()" type="button">
                              <img src="/assets/icons/ic_perm_contact_calendar_black_48dp.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="obitoeditarform.controls['datafalecimento'].errors && obitoeditarform.controls['datafalecimento'].touched">
                            <p [hidden]="!obitoeditarform.controls['datafalecimento'].errors.required" class="alert alert-danger"> Data de falecimento é obrigatório</p>
                        </div>
                        </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <ngb-timepicker formControlName="horario"></ngb-timepicker>
                  <div *ngIf="obitoeditarform.controls['horario'].errors && obitoeditarform.controls['horario'].touched">
                      <p [hidden]="!obitoeditarform.controls['horario'].errors.required" class="alert alert-danger"> Horário é obrigatório</p>
                  </div>
                </div>
                  </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="submit" #btncadastrar class="btn btn-outline-primary">Cadastrar</button>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-pesquisar-medico">
          <ng-template ngbTabTitle>Pesquisar Médico</ng-template>
          <ng-template ngbTabContent>
              <div class="modal-body">
            <app-obito-pesquisa-medico (selecionarMedico)="SetMedico($event)"> </app-obito-pesquisa-medico>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-pesquisar-clinica">
            <ng-template ngbTabTitle>Pesquisar Clínica</ng-template>
            <ng-template ngbTabContent>
                <div class="modal-body">
                  <app-obito-pesquisa-clinica (selecionarClinica)="SetClinica($event)"></app-obito-pesquisa-clinica>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-pesquisar-causa">
            <ng-template ngbTabTitle>Pesquisar Causa</ng-template>
            <ng-template ngbTabContent>
                <div class="modal-body">
                  <app-obito-pesquisa-causa (selecionarcausa) ="SetCausa($event)"></app-obito-pesquisa-causa>
              </div>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
