@media screen {
  .modal-adaptive .modal-lg {
      width: 100% !important;
      max-width: calc(80%);
  }
}
.tabela-lista {
  width: 90%;
  max-height: 300px;
  overflow-y: scroll;
  margin: 50px;
}
