<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cadastro Clinica</h4>
  <button type="button" class="close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="clinicacadastroForm"  (ngSubmit)="onSubmit(clinicacadastroForm)">
<div class="modal-body">
      <div class="form-group">
          <label for="nome">Nome da Clínica</label>
          <input type="text" name="nome"  formControlName="nome" class="form-control">
        </div>
        <div *ngIf="clinicacadastroForm.controls['nome'].errors && clinicacadastroForm.controls['nome'].touched">
          <p [hidden]="!clinicacadastroForm.controls['nome'].errors.required" class="alert alert-danger"> Nome é obrigatório</p>
      </div>
        <div class="form-group">
          <label for="descricao">Descrição da Clínica</label>
          <textarea type="text" name="descricao"  formControlName="descricao" class="form-control"></textarea>
        </div>
        <div *ngIf="clinicacadastroForm.controls['descricao'].errors && clinicacadastroForm.controls['descricao'].touched">
            <p [hidden]="!clinicacadastroForm.controls['descricao'].errors.required" class="alert alert-danger"> Descrição é obrigatório</p>
        </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
</div>
</form>

