input.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  .tabela-lista-enfermaria {
    width: 1000px;
    height: 100px;
    overflow-y: scroll;
    margin: 50px;
  }
  @media screen {
    .modal-adaptive .modal-lg {
        width: 90% !important;
        max-width: calc(80%);
    }
  }
  .botao-adicionar-clinica {
    margin-top: 50px;
  }
