<div class="row">
  <div class="col-xs-6 col-md-4">
  </div>
  <div class="col-xs-6 col-md-4">
      <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite o nome da Paciente">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
  </div>
  <div class="col-xs-6 col-md-4">
    <button class="btn btn-success" data-toggle="modal" data-target="#pacientecadastro">Adicionar Paciente</button>
  </div>
</div>
<div class="container">       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Número Registro</th>
        <th>Leito</th>
      </tr>
    </thead>
    <tbody *ngFor="let paciente of pacientes">
      <tr>
        <td>{{ paciente.Nome }}</td>
        <td>{{ paciente.DataNascimento }} </td>
        <td>{{ paciente.Sexo }}</td>
        <td>{{ paciente.NumeroRegistro }}</td>
        <td> <button class="btn btn-primary">Visualizar</button></td>
        <td> <button class="btn btn-primary btn-editar">Editar</button> <button class="btn btn-danger">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-paciente-cadastro></app-paciente-cadastro>